body {
	background-color: #FFFFFF;
	background-size: cover;
	height: auto;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	/*footer*/
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html {
	height: 950px;
	width: 100%;
}


/*++++++++++++++++++++++++++++Index.html+++++++++++++++++++++*/
#wrapper {
	width: 500px;
	height: 60%;
	padding-top: 20px;


}

a {
	color: #ffffff;
}

.head {
	color: #333326;
	margin: 1px;
	text-align: center;
}

img {
	height: 25%;
	width: 25%;
	padding: 0px;
}

div.box {
	background: transparent;
	border-width: 3px;
	border-style: hidden;
	border-color: white;
	padding: 15px;
	box-shadow: 2px 3px 4px 2px  #e0e0a3;
}

form {
	padding: 20px;
}

input[type=text].validate+label {
	color: #333326;
	font-size: 18px;
	
}

input[type=password].validate+label {
	color: #333326;
	font-size: 18px;
}

input[type=email].validate+label {
	color: #333326;
	font-size: 18px;
}

/* label focus color */
 .input-field input:focus + label {
   color: #333326 !important;
   font-size: 10px;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 black !important
 }
 #clear {
 	background-color: #ef5350;
 	color: white;
 }

 #register {
 	background-color: #ef5350;
 	color: white;
 }

 /*++++++++++++++++++++++++++++++++++End Index.html++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++Start About.html+++++++++++++++++++++++++++*/
#aboutText {
	font-size: 20px;
}

#imgTreat {
	height: 250px;
	width: 200px;
}

 main {
    flex: 1 0 auto;
  }

/*++++++++++++++++++++++++++++++++End About.html+++++++++++++++++++++++++++*/




